header {
  height: 10vh;
  background: url("../images/showcase.jpg") no-repeat 80% 20%;
}
.navbar {
  min-height: 10vh;
}
.navbar-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
}
#logo h1 {
  font-size: 4rem;
  color: #fff;
  font-family: "Cookie", cursive;
  transition: all 1s ease;
}
#logo h1:hover {
  color: #e79b25;
  letter-spacing: 5px;
}
.menu-list {
  display: flex;
  align-items: center;
}
.menu-item {
  padding: 0.5rem 1.5rem;
}
.menu-item a {
  font-size: 1.25rem;
  color: #fff;
  font-weight: 500;
  padding-bottom: 0.5rem;
  transition: all 0.5s ease;
}
.menu-item a:hover {
  color: #e79b25;
}
.contact-a {
  text-align: center;
  min-height: auto;
  margin-top: 3rem;
  margin-bottom: 5rem;
}
form {
  display: block;
}
.contact-a .text-fields {
  display: grid;
  grid-template-areas:
    "name      email"
    "subject    phone"
    "message  message ";
  margin-bottom: 1.2rem;
  grid-gap: 1.2rem;
}
.contact-content {
  width: 80%;
  margin: auto;
}
.contact-a .text-fields .name-input {
  grid-area: name;
}
.contact-a .text-fields .email-input {
  grid-area: email;
}
.contact-a .text-fields .subject-input {
  grid-area: subject;
}
.contact-a .text-fields .phone-input {
  grid-area: phone;
}
.contact-a .text-fields .message-input {
  grid-area: message;
  height: 100px;
}
.btn-submit {
  background: #333;
  color: #fff;
  cursor: pointer;
  border: none;
  outline: none;
  padding: 1rem 2rem;
  margin-top: 1.25rem;
  font-size: 1.25rem;
  font-weight: 500;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.25);
}
button[type="submit"] {
  width: 50%;
  transition: all 1s ease;
}
button[type="submit"]:hover {
  background: #e79b25;
}
.text-input {
  padding: 0.5rem 1rem;
  margin-bottom: 0.5rem;
  font-size: 1rem;
}
textarea {
  height: 100%;
  margin-top: 0.5rem;
}
input::placeholder {
  font-size: 1rem;
  font-family: "Lato", sans-serif;
}
textarea::placeholder {
  font-size: 0.75rem;
  font-family: "Lato", sans-serif;
}
.contact-content {
  margin-top: 2rem;
}
.contact-b {
  text-align: center;
  min-height: auto;
  margin-top: 3rem;

  background: #333;
  color: #fff;
}
.contact-details {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1.5rem;
  width: 80%;
  margin: 2rem auto;
}
.contact-item i {
  margin-bottom: 1rem;
}

.contact-item h4 {
  line-height: 2;
}
.contact-c {
  text-align: center;
  min-height: auto;
  padding: 5rem;
  background: #e79b25;
}
.contact-c h1 {
  font-size: 4rem;
  color: #fff;
  font-weight: 700;
}
