@import url("https://fonts.googleapis.com/css2?family=Cookie&family=Lato:wght@400;700;900&display=swap");
html {
  font-size: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Lato", sans-serif;
  line-height: 1.5;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
/* Utility Class */

.container {
  max-width: 95%;
  margin: auto;
  padding: 0.5rem;
  overflow: hidden;
}
.current {
  border-bottom: 2px solid #e79b25;
  color: #e79b25 !important;
}

.heading {
  font-size: 2.5rem;
  text-transform: uppercase;
  margin-top: 1.5rem;
  font-family: "Oswald", sans-serif;
}
.section-bottom {
  height: 5px;
  display: block;
  width: 10%;
  margin: auto;
  background: #e79b25;
  border-radius: 10px;
  margin-bottom: 1rem;
}
.lead {
  font-size: 1.25rem;
}
.sub-heading {
  font-size: 1.25rem;
  font-weight: 700;
}
.sub-para {
  font-size: 1.05rem;
  line-height: 1.5;
}
/* Navbar Styling */
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  font-family: "Lato", sans-serif;
}
#logo {
  font-size: 3.5rem;
  color: #fff;
  font-family: "Cookie", cursive;
  font-weight: 700;
  transition: all 1s ease;
  margin-top: 2rem;
}
#logo:hover {
  color: #e79b25;
  letter-spacing: 5px;
}
.nav-links {
  display: flex;
  justify-content: space-around;

  list-style: none;
}
.nav-links li {
  padding: 0.5rem 1.5rem;
}
.nav-links a {
  font-size: 1.25rem;
  color: #fff;
  font-weight: 500;
  padding-bottom: 0.5rem;
  transition: all 0.5s ease;
}
.nav-links a:hover {
  color: #e79b25;
}
.hamburger {
  display: none;
  cursor: pointer;
  font-size: 1.25rem;
  color: #fff;
}
/* Footer Styling */
footer {
  background: #333;
  color: #fff;
  padding: 0.5rem;
}
.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-content i {
  color: #fff;
  border: 2px solid #fff;
  border-radius: 50%;
  padding: 0.75rem;
  margin-left: 1.5rem;
  font-size: 1.2rem;
}
.footer-content i:hover {
  background: #e79b25;
}

@media screen and (max-width: 800px) {
  .footer-content {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .footer-content i {
    margin-top: 1.5rem;
  }
  #logo h1 {
    font-size: 3rem;
  }
}
