@import url("https://fonts.googleapis.com/css2?family=Cookie&family=Lato:wght@400;700;900&display=swap");
header {
  min-height: 10vh;
  background: url("../images/showcase.jpg") no-repeat 80% 20%;
}
.work-a {
  text-align: center;
  min-height: auto;
  margin-top: 3rem;
  margin-bottom: 5rem;
}
.work-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1.5rem;
}
.work-grid img {
  width: 25rem;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  margin-bottom: 2rem;
}
.codie
{
  height: 266.66px;
  width: 400px;
}
.coke {
  height: 266.66px;
  width: 400px;
}
.card {
  margin-top: 2rem;
  background: #f4f4f4;
  padding: 2rem;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.274);
  line-height: 2;
  text-align: center;
}
.card p {
  width: 70%;
  margin: auto;
  margin-bottom: 1.25rem;
}
.btn-website {
  background: #e79b25;
  transition: all 0.5s ease;
  padding: 1rem 2rem;
  font-size: 1.25rem;
  border-radius: 0.8rem;
  color: #fff;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  margin-right: 1.5rem;
}
.btn-website:hover {
  background: #eed1a6;
  color: #333;
}
.vaccine
{
  width: 400px;
  height: 266.66px;
}
.btn-adobe
{
  background: #b429b4;
  color: white;
  transition: all 0.5s ease;
  padding: 1rem 2rem; 
  font-size: 1.25rem;
  border-radius: 0.8rem;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}
.btn-adobe:hover
{
  background: #5e1b5e;
}
.btn-figma
{
  background: linear-gradient(
    45deg,
    #f24e1e 0%,
    #ff7262 25%,
    #a259ff 50%,
    #1abcfe 75%,
    #0acf83 100%
  );
  transition: all 5s ease;
  padding: 1rem 2rem;
  font-size: 1.25rem;
  border-radius: 0.8rem;
  color: #fff;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}
.btn-figma:hover
{
  background: linear-gradient(
    45deg,
    #0acf83 0%,
    #1abcfe 25%,
    #a259ff 50%,
    #ff7262 75%,
    #f24e1e 100%
  );
}
.btn-source {
  background: #333;
  transition: all 0.5s ease;
  padding: 1rem 2rem;
  font-size: 1.25rem;
  border-radius: 0.8rem;
  color: #fff;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  margin-right: 1.5rem;
}
.btn-source:hover {
  background: #ddd;
  color: #333;
}
.coke {
  color: #ff0000;
}
.btn-insta {
  background: linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  transition: all 0.5s ease;
  padding: 1rem 2rem;
  font-size: 1.25rem;
  border-radius: 0.8rem;
  color: #fff;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}
.btn-insta:hover {
  background: linear-gradient(
    45deg,
    #bc1888 0%,
    #cc2366 25%,
    #dc2743 50%,
    #e6683c 75%,
    #f09433 100%
  );
}

@media screen and (max-width: 1024px) {
  body {
    overflow-x: hidden;
  }

  .work-grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .card {
    width: 80%;
    margin: 1.25rem auto;
  }
  .card p {
    font-size: 1.25rem;
    width: 98%;
  }
  .card img {
    width: 200px;
    margin: auto;
  }
  .btn-website {
    display: block;
    width: 90%;
    margin: auto;
    margin-bottom: 1.55rem;
    padding: 0.5rem 1.25rem;
    font-size: 1rem;
  }
  .btn-source,.btn-adobe,.btn-insta,.btn-figma   {
    display: block;
    width: 90%;
    margin: auto;
    margin-bottom: 1.25rem;
    padding: 0.5rem 1.5rem;
    font-size: 1rem;
  }
}
@media screen and (max-width: 800px) {
  body {
    overflow-x: hidden;
  }
  .nav-links {
    position: absolute;
    height: 100vh;
    top: 0;
    right: 0;
    z-index: 15;
    background: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    transform: translateX(-100%);
    transition: transform 1s ease-in;
    text-align: center;
  }
  .nav-links li {
    opacity: 1;
    border-bottom: 2px solid rgba(0, 0, 0, 0.274);
    width: 80%;
    padding-bottom: 5rem;
    margin: 2rem auto;
  }
  .nav-links li a {
    font-size: 1.5rem;
  }
  .hamburger {
    position: absolute;
    top: 20px;
    right: 30px;
    display: block;
    z-index: 15;
  }
  .work-grid {
    grid-template-columns: 1fr;
  }
  .card {
    width: 70%;
    margin: 1.25rem auto;
  }
  .card p {
    font-size: 1rem;
    width: 98%;
  }
  .card img {
    width: 200px;
    margin: auto;
  }
  .btn-insta {
    display: block;
    width: 90%;
    margin: auto;
    margin-bottom: 1.25rem;
    padding: 0.5rem 1rem;
    font-size: 1rem;
  }
  .btn-website {
    display: block;
    width: 90%;
    margin: auto;
    margin-bottom: 1.25rem;
    padding: 0.5rem 1.25rem;
    font-size: 1rem;
  }
  .btn-source {
    display: block;
    width: 90%;
    margin: auto;
    margin-bottom: 1.25rem;
    padding: 0.5rem 1.5rem;
    font-size: 1rem;
  }
}

@media screen and (max-width: 500px) {
  body {
    overflow-x: hidden;
  }
  .nav-links {
    position: absolute;
    height: 100vh;
    top: 0;
    right: 0;
    z-index: 15;
    background: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    transform: translateX(-100%);
    transition: transform 1s ease-in;
    text-align: center;
  }
  .nav-links li {
    opacity: 1;
    border-bottom: 2px solid rgba(0, 0, 0, 0.274);
    width: 80%;
    padding-bottom: 5rem;
    margin: 2rem auto;
  }
  .nav-links li a {
    font-size: 1.5rem;
  }
  .hamburger {
    position: absolute;
    top: 20px;
    right: 30px;
    display: block;
    z-index: 15;
  }
  .work-grid {
    grid-template-columns: 1fr;
  }
  .card {
    width: 90%;
    margin: auto;
  }
  .card img {
    width: 150px;
    margin: auto;
  }
  .btn-insta {
    display: block;
    width: 70%;
    margin: auto;
    margin-bottom: 1.25rem;
    padding: 0.5rem 1rem;
    font-size: 1rem;
  }
  .btn-website {
    display: block;
    width: 70%;
    margin: auto;
    margin-bottom: 1.25rem;
    padding: 0.5rem 1rem;
  }
  .btn-source {
    display: block;
    width: 70%;
    margin: auto;
    margin-bottom: 1.25rem;
    padding: 0.5rem 1rem;
  }
}

.nav-active {
  transform: translateX(0%);
}
